<!-- <div class="navigacija">   
            <button [routerLink]="''">Početna</button>
    
            <button [routerLink]="'treca'">Treća</button>
 </div> -->

 

  <nav class="navbar navbar-expand bg-dark navbar-dark">

      <ul class="navbar-nav">

          <li class="nav-item">
              <a class="nav-link" [routerLink]="''"> Početna </a>
          </li>

          <li class="nav-item">
              <a class="nav-link" [routerLink]="'treca'"> Treća </a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  [routerLink]="'drzave'"> Države </a>
          </li>

      </ul>
  </nav>